body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:Segoe UI;
  padding:40px;
}

nav a {
  margin-right:15px;
  color:#38bdf8;
  text-decoration:none;
}

.about-card {
  background:#020617;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 25px rgba(56,189,248,0.6);
}

.timeline div {
  background:#020617;
  padding:15px;
  margin:15px 0;
  border-left:4px solid #38bdf8;
}

.skill {margin:20px 0;}
.bar {
  height:12px;
  background:#38bdf8;
  width:0;
  border-radius:8px;
}
