body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:Segoe UI;
  padding:40px;
}

nav a {
  margin-right:15px;
  color:#38bdf8;
  text-decoration:none;
}

.blog-card {
  background:#020617;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(56,189,248,0.6);
  margin-bottom:20px;
}
