body{
  background:#0f172a;
  color:#e5e7eb;
  font-family:Segoe UI;
  padding:40px;
}

#chatbox{
  background:#020617;
  padding:20px;
  border-radius:15px;
  height:300px;
  overflow-y:auto;
  box-shadow:0 0 25px rgba(56,189,248,0.6);
}

#userInput{
  width:70%;
  padding:12px;
  border-radius:8px;
  border:none;
}

button{
  padding:12px 18px;
  background:#38bdf8;
  border:none;
  border-radius:8px;
}
