body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:Segoe UI;
  padding:40px;
}

nav a {
  margin-right:15px;
  color:#38bdf8;
  text-decoration:none;
}

form {
  background:#020617;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 25px rgba(56,189,248,0.6);
  max-width:400px;
}

input, textarea {
  width:100%;
  margin-bottom:15px;
  padding:10px;
  border-radius:8px;
  border:none;
}

button {
  padding:10px 18px;
  background:#38bdf8;
  border:none;
  border-radius:8px;
}
