body {
  margin:0;
  font-family:Segoe UI;
  background:#0f172a;
  color:#e5e7eb;
  transition:0.4s;
  overflow-x:hidden;
}

canvas#particles {
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

nav {
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#020617cc;
  backdrop-filter:blur(10px);
}

nav ul {
  display:flex;
  gap:20px;
  list-style:none;
}

nav a {color:#38bdf8;text-decoration:none;}

.hero {
  text-align:center;
  padding:90px 20px;
}

.hero img {
  width:160px;
  border-radius:50%;
  border:4px solid #38bdf8;
}

.btn {
  display:inline-block;
  margin-top:20px;
  padding:12px 28px;
  background:#38bdf8;
  color:#020617;
  border-radius:8px;
  text-decoration:none;
}

.cards {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  padding:40px;
}

.card {
  background:#020617;
  padding:30px;
  border-radius:16px;
  box-shadow:0 0 15px rgba(56,189,248,0.4);
  transition:0.4s;
}

.card:hover {
  transform:translateY(-12px) scale(1.04);
  box-shadow:0 0 35px rgba(56,189,248,0.8);
}

.light {
  background:#f9fafb;
  color:#020617;
}

.light nav {background:#e5e7ebcc;}
.light .card {background:#ffffff;}
