body {
  background:#0f172a;
  color:#e5e7eb;
  font-family:Segoe UI;
  padding:40px;
}

nav a {
  margin-right:15px;
  color:#38bdf8;
  text-decoration:none;
}

.filter button {
  padding:10px 18px;
  margin:10px;
  background:#38bdf8;
  border:none;
  border-radius:6px;
}

.project-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.project-card {
  background:#020617;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(56,189,248,0.5);
  transition:0.4s;
}

.project-card:hover {
  transform:translateY(-10px);
  box-shadow:0 0 35px rgba(56,189,248,0.9);
}

.project-card a {
  display:block;
  margin-top:10px;
  color:#38bdf8;
}
